{% extends "app/layout.html" %}
{% block content %}
<h2>{{post_i.title}}</h2>

{% if post_i.image and post_i.image.url != 'media/1.png' %}
    <img src="{{post_i.image.url}}" alt="Картинка" width="300" height="200" />
{% endif %}
<p>{{post_i.content|linebreaksbr}}</p>

 {% if user.is_authenticated %}
<h3>Добавить комментарий</h3>
<form method="POST">
    {% csrf_token %} {# защита от атак CSRF#}
    <div>
        {{form.as_p}}
        <button type="submit" class="save btn btn-default"> Отправить комментарий </button>
    </div>
</form>
    {% else %}
<h3> Для добавления своего комментария, пожалуйста, авторизуйтесь </h3>
    {% endif %}



{% for comment in comments %}
<hr />
<h7> {{comment.date}} </h7>
<h5> {{comment.author}} </h5>
<p> {{comment.text|linebreaksbr}} </p>
{% endfor %}

<a href="{% url 'blog' %}">Назад</a>
{% endblock %}