{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Весёлая ферма - это садовое товарищество, расположенное в 30 км. от города Иваново. 
    Мы существуем относительно недавно, всего три года, но у нас уже есть немало постоянных и временных жильцов!
    Также, наш посёлок постепенно расширяется: появляются новые участки и строятся дома.
    Вы можете как приобрести у нас участок и начать строительство своего дома, так и заселиться в уже посторенный.</p>

{% endblock %}
