{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Садовое товарищество "Весёлая ферма"</h1>
    <p class="lead">Весёлая ферма - это уютный дом для всех дачников, огородников и просто ценителей сельской жизни!</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Живите с нами</h2>
        <p>
            В "Весёлой ферме" можно приобрести или
            арендовать дачный участок по доступной цене! 
            В комплекте идут чистый воздух, природа, 
            романтика деревенской безмятежности и дружная соседская община!
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Дополнительные услуги</h2>
        <p>Администрация товарищества предоставляет ряд услуг за отдельную плату</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Детали заселения</h2>
        <p>Вы можете стать частью нашего товарищеста уже совсем скоро! 
        Узнайте, какие участки в данный момент свободны, 
        выберите понравившийся и свяжитесь с нами!.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Узнать больше &raquo;</a></p>
    </div>
</div>

{% endblock %}
